<!DOCTYPE html><html lang="en-GB"><head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/Erubinyl/is-a.dev@resources/stylesheets/base.required.css">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/Erubinyl/is-a.dev@resources/stylesheets/fonts/font.WixMadefor.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/Erubinyl/is-a.dev@resources/stylesheets/fonts/font.Sansation.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/Erubinyl/is-a.dev@resources/stylesheets/fonts/font.Instrument.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/Erubinyl/is-a.dev@resources/stylesheets/fonts/font.IBMPlex.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/Erubinyl/is-a.dev@resources/stylesheets/fonts/font.GamjaFlower.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/Erubinyl/is-a.dev@resources/stylesheets/fonts/font.FragmentMono.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/Erubinyl/is-a.dev@resources/stylesheets/fonts/font.BeVietnam.css">
<style> 
    body         { padding: 3rem 5vw 3rem 5vw; display: flex; align-items: center;
                   background-color: #1A1A1F; color: #F0F0F5; border-top: 1px solid #303035; }
    div          { flex: 1; }
    a            { text-decoration: none; color: #F0F0F5; border-bottom: 1px solid #303035; }
    a:hover      { color: #A0A0FF; border-bottom: 2px solid #A0A0FF; }
</style></head><body>
    <div>
        <span class="use-GamjaFlower" style="font-size: 1.5rem;">＼コンニチワ／</span><br>
    </div>
    <div style="text-align:right;">
        <span class="use-Sansation" style="opacity: 0.6;">"</span><span class="use-IBMPlexSans" style="letter-spacing: -0.01em; opacity: 0.8;"><a href="https://erubinyl.is-a.dev">erubinyl</a>.<a href="https://is-a.dev">is-a.dev</a></span><span class="use-Sansation" style="opacity: 0.6;">"</span>
        <a href="https://erubinyl.is-a.dev/self/projects" class="use-BeVietnamPro" style="opacity: 0.8;"><span style="letter-spacing: -0.06em;">Made</span> <span style="letter-spacing: -0.02em;">by</span></a>
        <a href="https://erubinyl.is-a.dev/self/about" class="use-InstrumentSans" style="font-weight: 600; letter-spacing: inherit; opacity: 0.9;"><span style="letter-spacing: -0.06em;">E</span><span style="letter-spacing: -0.02em;">r</span><span style="letter-spacing: -0.07em;">u</span><span style="letter-spacing: -0.08em;">b</span><span style="letter-spacing: -0.06em;">i</span><span style="letter-spacing: -0.10em;">n</span><span style="letter-spacing: -0.08em;">y</span><span style="letter-spacing: -0.00em;">l</span></a>
        <a href="https://github.com/Erubinyl/is-a.dev/LICENSE" class="use-WixMadeforDisplay" style="letter-spacing: -0.06em;"><span style="opacity: 0.6;">©</span> <span style="opacity: 0.8;">2021</span></a>
        <a href="https://erubinyl.is-a.dev/legal/" class="use-FragmentMono" style="letter-spacing: -0.06em; opacity: 0.6;">*</a>
    </div>
</body></html>